In [9]:
from itertools import chain
import numpy as np
import pandas as pd

In [3]:
hotel = pd.read_csv('../00Data/Hotel_Reviews_v2.csv')

In [4]:
hotel.head(10)

,ID,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,08-03-2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,08-03-2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,5,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968
5,6,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,Poland,Backyard of the hotel is total mess shouldn t...,17,1403,Good restaurant with modern design great chil...,20,1,6.7,"[' Leisure trip ', ' Group ', ' Duplex Double ...",10 days,52.360576,4.915968
6,7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/17/2017,7.7,Hotel Arena,United Kingdom,Cleaner did not change our sheet and duvet ev...,33,1403,The room is spacious and bright The hotel is ...,18,6,4.6,"[' Leisure trip ', ' Group ', ' Duplex Twin Ro...",17 days,52.360576,4.915968
7,8,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/17/2017,7.7,Hotel Arena,United Kingdom,Apart from the price for the brekfast Everyth...,11,1403,Good location Set in a lovely park friendly s...,19,1,10.0,"[' Leisure trip ', ' Couple ', ' Duplex Double...",17 days,52.360576,4.915968
8,9,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,07-09-2017,7.7,Hotel Arena,Belgium,Even though the pictures show very clean room...,34,1403,No Positive,0,3,6.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",25 days,52.360576,4.915968
9,10,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,07-08-2017,7.7,Hotel Arena,Norway,The aircondition makes so much noise and its ...,15,1403,The room was big enough and the bed is good T...,50,1,7.9,"[' Leisure trip ', ' Couple ', ' Large King Ro...",26 days,52.360576,4.915968

In [5]:
hotel['Tags']=hotel["Tags"].str.strip('[]')
hotel['Tags'] = hotel['Tags'].str.replace('\' ','')
hotel['Tags'] = hotel['Tags'].str.replace(' \'','')
hotel['Tags'] = hotel['Tags'].str.replace(', ',',')
hotel['Tags'] = hotel['Tags'].str.replace(' ','_')
hotel['Tags'] = hotel['Tags'].str.lower()

In [31]:
hotel['Tags_U'] = hotel['Tags'].str.split(',')

In [32]:
hotel.head(10)

,ID,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,Tags_U
0,1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,08-03-2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"leisure_trip,couple,duplex_double_room,stayed_...",0 days,52.360576,4.915968,"[leisure_trip, couple, duplex_double_room, sta..."
1,2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,08-03-2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"leisure_trip,couple,duplex_double_room,stayed_...",0 days,52.360576,4.915968,"[leisure_trip, couple, duplex_double_room, sta..."
2,3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"leisure_trip,family_with_young_children,duplex...",3 days,52.360576,4.915968,"[leisure_trip, family_with_young_children, dup..."
3,4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"leisure_trip,solo_traveler,duplex_double_room,...",3 days,52.360576,4.915968,"[leisure_trip, solo_traveler, duplex_double_ro..."
4,5,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"leisure_trip,couple,suite,stayed_2_nights,subm...",10 days,52.360576,4.915968,"[leisure_trip, couple, suite, stayed_2_nights,..."
5,6,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,Poland,Backyard of the hotel is total mess shouldn t...,17,1403,Good restaurant with modern design great chil...,20,1,6.7,"leisure_trip,group,duplex_double_room,stayed_1...",10 days,52.360576,4.915968,"[leisure_trip, group, duplex_double_room, stay..."
6,7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/17/2017,7.7,Hotel Arena,United Kingdom,Cleaner did not change our sheet and duvet ev...,33,1403,The room is spacious and bright The hotel is ...,18,6,4.6,"leisure_trip,group,duplex_twin_room,stayed_5_n...",17 days,52.360576,4.915968,"[leisure_trip, group, duplex_twin_room, stayed..."
7,8,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/17/2017,7.7,Hotel Arena,United Kingdom,Apart from the price for the brekfast Everyth...,11,1403,Good location Set in a lovely park friendly s...,19,1,10.0,"leisure_trip,couple,duplex_double_room,stayed_...",17 days,52.360576,4.915968,"[leisure_trip, couple, duplex_double_room, sta..."
8,9,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,07-09-2017,7.7,Hotel Arena,Belgium,Even though the pictures show very clean room...,34,1403,No Positive,0,3,6.5,"leisure_trip,couple,duplex_double_room,stayed_...",25 days,52.360576,4.915968,"[leisure_trip, couple, duplex_double_room, sta..."
9,10,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,07-08-2017,7.7,Hotel Arena,Norway,The aircondition makes so much noise and its ...,15,1403,The room was big enough and the bed is good T...,50,1,7.9,"leisure_trip,couple,large_king_room,stayed_7_n...",26 days,52.360576,4.915968,"[leisure_trip, couple, large_king_room, stayed..."

In [34]:
id_tag = pd.DataFrame({ "ID": np.repeat(hotel.ID.values, [len(x) for x in hotel.Tags_U]),"Tag": list(chain.from_iterable(hotel.Tags_U))})

In [35]:
keys = pd.read_csv('key.csv')

In [36]:
id_tag_2 = id_tag.merge(keys, left_on = 'Tag', right_on = 'key')

In [37]:
id_tag_2

,ID,Tag,key,key_update,key_type
0,1,leisure_trip,leisure_trip,leisure_trip,trip_type
1,2,leisure_trip,leisure_trip,leisure_trip,trip_type
2,3,leisure_trip,leisure_trip,leisure_trip,trip_type
3,4,leisure_trip,leisure_trip,leisure_trip,trip_type
4,5,leisure_trip,leisure_trip,leisure_trip,trip_type
5,6,leisure_trip,leisure_trip,leisure_trip,trip_type
6,7,leisure_trip,leisure_trip,leisure_trip,trip_type
7,8,leisure_trip,leisure_trip,leisure_trip,trip_type
8,9,leisure_trip,leisure_trip,leisure_trip,trip_type
9,10,leisure_trip,leisure_trip,leisure_trip,trip_type
10,11,leisure_trip,leisure_trip,leisure_trip,trip_type
11,13,leisure_trip,leisure_trip,leisure_trip,trip_type
12,15,leisure_trip,leisure_trip,leisure_trip,trip_type
13,16,leisure_trip,leisure_trip,leisure_trip,trip_type
14,17,leisure_trip,leisure_trip,leisure_trip,trip_type
15,18,leisure_trip,leisure_trip,leisure_trip,trip_type
16,20,leisure_trip,leisure_trip,leisure_trip,trip_type
17,21,leisure_trip,leisure_trip,leisure_trip,trip_type
18,23,leisure_trip,leisure_trip,leisure_trip,trip_type
19,24,leisure_trip,leisure_trip,leisure_trip,trip_type
20,25,leisure_trip,leisure_trip,leisure_trip,trip_type
21,26,leisure_trip,leisure_trip,leisure_trip,trip_type
22,27,leisure_trip,leisure_trip,leisure_trip,trip_type
23,29,leisure_trip,leisure_trip,leisure_trip,trip_type
24,30,leisure_trip,leisure_trip,leisure_trip,trip_type
25,31,leisure_trip,leisure_trip,leisure_trip,trip_type
26,32,leisure_trip,leisure_trip,leisure_trip,trip_type
27,33,leisure_trip,leisure_trip,leisure_trip,trip_type
28,34,leisure_trip,leisure_trip,leisure_trip,trip_type
29,35,leisure_trip,leisure_trip,leisure_trip,trip_type
...,...,...,...,...,...
2356176,512336,weekend_offer_standard_studio,weekend_offer_standard_studio,studio,other_room_types
2356177,512342,weekend_offer_standard_studio,weekend_offer_standard_studio,studio,other_room_types
2356178,512368,weekend_offer_standard_studio,weekend_offer_standard_studio,studio,other_room_types
2356179,512068,congress_suite,congress_suite,suite,other_room_types
2356180,512111,congress_suite,congress_suite,suite,other_room_types
2356181,512113,congress_suite,congress_suite,suite,other_room_types
2356182,512126,congress_suite,congress_suite,suite,other_room_types
2356183,512129,congress_suite,congress_suite,suite,other_room_types
2356184,512137,congress_suite,congress_suite,suite,other_room_types
2356185,512140,congress_suite,congress_suite,suite,other_room_types
2356186,512148,congress_suite,congress_suite,suite,other_room_types
2356187,512156,congress_suite,congress_suite,suite,other_room_types
2356188,512224,congress_suite,congress_suite,suite,other_room_types
2356189,512265,congress_suite,congress_suite,suite,other_room_types
2356190,512308,congress_suite,congress_suite,suite,other_room_types
2356191,512346,congress_suite,congress_suite,suite,other_room_types
2356192,512366,congress_suite,congress_suite,suite,other_room_types
2356193,512374,congress_suite,congress_suite,suite,other_room_types
2356194,512392,congress_suite,congress_suite,suite,other_room_types
2356195,512422,one_bedroom_suite_with_air_conditioning,one_bedroom_suite_with_air_conditioning,suite,other_room_types
2356196,512444,one_bedroom_suite_with_air_conditioning,one_bedroom_suite_with_air_conditioning,suite,other_room_types
2356197,512455,one_bedroom_suite_with_air_conditioning,one_bedroom_suite_with_air_conditioning,suite,other_room_types
2356198,512472,one_bedroom_suite_with_air_conditioning,one_bedroom_suite_with_air_conditioning,suite,other_room_types
2356199,512528,one_bedroom_suite_with_air_conditioning,one_bedroom_suite_with_air_conditioning,suite,other_room_types
2356200,512703,king_room_mobility_accessible_non_smoking,king_room_mobility_accessible_non_smoking,accessibility,accessibility
2356201,512833,king_room_mobility_accessible_non_smoking,king_room_mobility_accessible_non_smoking,accessibility,accessibility
2356202,514044,king_room_mobility_accessible_non_smoking,king_room_mobility_accessible_non_smoking,accessibility,accessibility
2356203,514122,king_room_mobility_accessible_non_smoking,king_room_mobility_accessible_non_smoking,accessibility,accessibility
2356204,514222,king_room_mobility_accessible_non_smoking,king_room_mobility_accessible_non_smoking,accessibility,accessibility
2356205,514223,king_room_mobility_accessible_non_smoking,king_room_mobility_accessible_non_smoking,accessibility,accessibility

In [39]:
id_tag_2['key_type'] = id_tag_2['key_type'].astype(str) + "_cust"

In [40]:
id_level = id_tag_2.groupby(['ID','key_type']).agg({'key_update':'first'}).unstack('key_type')

In [41]:
id_level.head(10)

               key_update                                          \
key_type access_type_cust accessibility_cust free_cust other_cust
ID
1                     NaN                NaN       NaN        NaN
2                     NaN                NaN       NaN        NaN
3                     NaN                NaN       NaN      other
4                     NaN                NaN       NaN        NaN
5                     NaN                NaN       NaN      other
6                     NaN                NaN       NaN        NaN
7                     NaN                NaN       NaN      other
8                     NaN                NaN       NaN      other
9                     NaN                NaN       NaN      other
10                    NaN                NaN       NaN        NaN

                                                                        \
key_type other_room_types_cust room_type_cust        time_of_stay_cust
ID
1                          NaN    double_room  stayed_less_than_a_week
2                          NaN    double_room  stayed_less_than_a_week
3                          NaN    double_room  stayed_less_than_a_week
4                          NaN    double_room  stayed_less_than_a_week
5                        suite            NaN  stayed_less_than_a_week
6                          NaN    double_room  stayed_less_than_a_week
7                          NaN      twin_room  stayed_less_than_a_week
8                          NaN    double_room  stayed_less_than_a_week
9                          NaN    double_room  stayed_less_than_a_week
10                         NaN      king_room  stayed_less_than_a_week


key_type trip_type_cust view_type_cust
ID
1          leisure_trip            NaN
2          leisure_trip            NaN
3          leisure_trip            NaN
4          leisure_trip            NaN
5          leisure_trip            NaN
6          leisure_trip            NaN
7          leisure_trip            NaN
8          leisure_trip            NaN
9          leisure_trip            NaN
10         leisure_trip            NaN

In [42]:
id_level.fillna("none").to_csv("id_tags.csv")